
@model IEnumerable<ComPro.Models.EventViewModel>
@using Microsoft.AspNet.Identity;
@using ComPro.Models;


@if (Model.Count() <= 0)
{
    <div class="alert alert-primary" role="alert">
        Currently there are no events for you !!
    </div>
}
<div class="container-fluid">
    @if (Model.Count() > 0)
    {
        <div class="alert alert-light" role="alert">
            <h3>Displaying @Model.Count() event(s).</h3>
        </div>
    }

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <a href="/Event/Details/@item.UniqueUrl" id="EventDetails">@item.EventTitel <span class="badge badge-success"><i class="fa fa-check"></i> @item.TotalYes</span> </a>
                    </div>
                    @if (item.Images.Any())
                    {
                        <a href="/Event/Details/@item.UniqueUrl"><img class="card-img-top" src="@item.Images.FirstOrDefault().ImagePath" alt="@item.EventTitel"></a>
                    }

                    <div class="card-body">
                        <h6 class="card-title"><i>Date: @item.EventDate.ToString("dd.MMM.yyyy hh:mm") <br />@item.Place</i></h6>

                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            if (item.Description.Length > 150)
                            {
                                <p class="card-text">
                                    @Html.Raw(item.Description.Substring(0, 150)) ..<a href="/Event/Details/@item.UniqueUrl" onClick="EventDetails(@item.Id)">see more</a>
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    @Html.Raw(item.Description)
                                </p>
                            }
                        }

                        <h6 class="card-title bg-white" style="padding:3px;"><i>Owner: @item.CreatorName</i></h6>
                    </div>

                    @if (User.IsInRole("Administrator") && item.Approval == true)
                    {
                        <div style="padding-bottom:5px;padding-top:5px;">
                            <a href="#" onClick="Approval(@item.Id)" class="btn btn-sm btn-danger">DisApprove</a>
                        </div>
                    }


                    <div class="card-footer bg-white border-primary text-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!(User.Identity.GetUserId() == item.CreatorID) && !(User.IsInRole("Administrator")))
                            {
                                if (item.EventDate >= DateTime.Now)
                                {

                                    if (string.IsNullOrEmpty(item.Activity))
                                    {
                                        <a href="#" onClick="MemberResponse('@item.Id', 'Going')" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Yes</a>
                                        <a href="#" id="maybe" onClick="MemberResponse('@item.Id', 'MayBe')" class="btn btn-sm btn-primary"><i class="fa fa-exclamation"></i> May Be</a>
                                        <a href="#" id="notgoing" onClick="MemberResponse('@item.Id', 'NotGoing')" class="btn btn-sm btn-primary"><i class="fa fa-times"></i> No</a>
                                    }
                                    else
                                    {
                                        <span class="btn btn-sm btn-dark">@item.Activity</span>

                                    }
                                }


                            }
                            else
                            {
                                <a href="#" onClick="EventEdit(@item.Id)" class="btn btn-sm btn-primary">Edit</a>
                                <a href="#" onClick="EventDelete(@item.Id)" class="btn btn-sm btn-primary">Delete</a>
                            }

                        }
                        else
                        {
                            <a href="/Account/Login" class="btn btn-success btn-sm"> Login to join</a>
                        }
                    </div>

                </div>
            </div>

        }
    </div>
</div>


<script>

    function EventDetails(id) {
        var id = id;
        var url = "/Event/Details";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {
                $('#datacontainer2').html(data);
                $('#MyModal').modal();
            }

        });

    }



    function EventEdit(id) {

        $.ajax({
            url: "/Event/Edit?id=" + id,
            success: function (data) {

                $('#datacontainer').html(data);
                $('#EventEdit').modal();

            }

        });

    }

    function EventDelete(id) {



        if (confirm('You Are Going to Delete This Event')) {

            var url = "/Event/Delete";

            var request = $.ajax({
                type: "POST",
                url: url,
                data: { id: id }
            })
            request.done(function (msg) {
                if (msg == "True") {
                    alert("Your Event Is Successfully Deleted");



                }

            });

        }

    }

    function MemberResponse(id, res) {

        var request = $.ajax({

            type: "GET",
            url: "/Event/MemberResponse",
            dataType: 'json',
            //data: { ID: id},
            data: { ID: id, Response: res },

        })
        request.done(function (msg) {
            if (msg === "True") {
                $("#EventList").load("/Event/GetEvents");
            }

        });


    }

    function Approval(id) {

        var request = $.ajax({
            type: "POST",
            url: "/Event/ApproveEvent",
            data: { Id: id }
        })
        request.done(function (msg) {
            if (msg == "True") {

                $("#EventList").load("/Event/NewEvent");
            }

        });

    }


</script>

<div id="datacontainer">

</div>
<div id="datacontainer2">

</div>


