@model ComPro.Models.UserInfo
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header bg-success mb-3 text-white">
            Associate your @ViewBag.LoginProvider account.
        </div>
        <div class="card-body">
            <p class="text-info">
                You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                Please give us few more information and click the Register button to finish
                logging in.
            </p>
            <p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </p>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    Male:  @Html.RadioButtonFor(m => m.Gender, "Male")
                    Female: @Html.RadioButtonFor(m => m.Gender, "Female")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CurrentJobTitle, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.CurrentJobTitle, new { @class = "form-control" })
                </div>
            </div>
            <div class="card" style="margin-top:10px;">
                <div class="card-header bg-success mb-3 text-white">
                    Terms And Condition.
                </div>
                <p>
                    <input type="checkbox" id="check" onclick="show()"> I hereby decleared my acceptance of the <a href="/home/terms" target="_blank">Terms and Condition</a>of the site.

                </p><br />
            </div>
            <div class="form-group" style="margin-top:5px; margin-bottom: 50px;">
                <div class="col-md-offset-2 col-md-10" id="buttonholder" style="display: none;">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
        </div>
    </div>

}

<script>
        function show() {
            if ($('input[type=checkbox]:checked').length > 0) {
                $('#buttonholder').show();
            } else {
                $('#buttonholder').hide();
            }
        }


</script>