@model ComPro.Models.InternalRegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h2>Get yourself registered.</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header bg-success mb-3 text-white">
            Personal Info.
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PostCode, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    Male:  @Html.RadioButtonFor(m => m.Gender, "Male")
                    Female: @Html.RadioButtonFor(m => m.Gender, "Female")
                </div>
            </div>


        </div>
    </div>


    <div class="card" style="margin-top:10px;">
        <div class="card-header bg-success mb-3 text-white">
            Log in info.
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>



    </div>

    <div class="card" style="margin-top:10px;">
        <div class="card-header bg-success mb-3 text-white">
            Terms And Condition.
        </div>
        <div class="card-body">
            <div class="form-group">
                <p>
                    <input type="checkbox" id="check" onclick="show()"> I hereby decleared my acceptance of the <a href="/Home/Terms" target="_blank">terms and condition </a> of the site. 
                </p>
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-top:5px; margin-bottom: 50px;">
        <div class="col-md-offset-2 col-md-10" id="buttonholder" style="display: none;">
            <input type="submit" class="btn btn-primary" id="btn" value="Register" />
        </div>
    </div>
}

<script>
           function show() {
               if ($('input[type=checkbox]:checked').length > 0) {
                   $('#buttonholder').show();
               } else {
                   $('#buttonholder').hide();
               }
           }


</script>