@model IEnumerable<ComPro.Models.User_Approval_Model>
<div id="Approval_Message"></div>

<h2 class="text-success"> @Model.Count() Members </h2><br />
<table class="table">

    @foreach (var item in Model)
    {

        <tr>
            <td><img src="@item.Photo" height="100" width="100" /></td>
        </tr>


        <tr>
            <td><a href="#" onClick="MemberDetails(@item.Id)" ;>@item.Name</a></td>
        </tr>


        <tr>
            <td>
                @if (User.IsInRole(ComPro.Models.Enums.UserRole.Administrator.ToString()))
                {<div class="col-md-offset-2 col-md-10">
                        @*<a href="@Url.Action("Approve","UserProfile", new { Email = item.Email })" class="btn btn-default">Approve</a>*@
                        <a href="#" class="card-link btn btn-primary" onClick="Approval(@item.Id)" name="NewMember" id="NewMember">Approve</a>

                    </div>
                }
            </td>
        </tr>

    }
</table>


<script>
    function MemberDetails(id) {
        var id = id;
        var url = "/UserProfile/Details";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {
                $('#Detailscontainer2').html(data);
                $('#MemDetails').modal();
            }

        });

    }

    function Approval(id) {

        var url = "/UserProfile/Approve";

        var request = $.ajax({

            url: url,
            data: { id: id },
        })

        request.done(function (msg) {

            if (msg == "True") {
                $("#MemberList").load("/UserProfile/NewUser");

                $('#Approval_Message').html('<div class="alert alert-success alert-dismissible " role="alert">\
                    <strong> Thanks!</strong> New Member Is Successfully Approved.<button type = "button"  \
                    class= "close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>\
                    </button> </div>');

            }
            else {
                $('#Approval_Message').html('<div class="alert alert-danger alert-dismissible " role="alert">\
                    <strong> Sorry!</strong> Invalid Attempt.Please Try Again.<button type = "button" \
                    class= "close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button></div>');



            }



        });

    }






</script>

<div id="Detailscontainer2">
</div>



